// Define variables for your color scheme

// COLOR SCHEME

$blackgreen: #151C19; // DARK JUNGLE GREEN
$darkgreen: #34463E; // KOMBU GREEN
$greendark: #344A3C;
$green: #9FB8AD; // OPAL
$red: #D64550; // RUSTY RED
$lightgreen: #CFDBD6; // GAINSBORO
$white: #fdfffe; // CULTURED


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$greenb: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
