// Specific CSS for your home-page

// Container to use for the pages
.my-container {
  max-width: 100%;
  margin: 0px 15px;
  // margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  min-height: 80%;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  // background-image: url( 'path/images/WAVES/background.svg' );
  }
