<%# STYLE : Disposer comme deux listes ? To DO list? %>
<%# Chaque élement dans des bulles? %>

<div class="card-lists">
  <div class="list-one">
    <div class="rect">
      <h3>A prévoir pour le weekend</h3>
        <ul>
          <br>
          <li>Tenues de sport</li>
          <li>Maillot de bain</li>
          <li>Chaussures de sport</li>
          <li>Serviette de bain</li>
          <li>Crème solaire</li>
          <li>Lunettes de piscine</li>
          <br>
          <br>
          <br>
        </ul>
    </div>
  </div>


<%# Système de likes pour que les gens disent s'ils ont %>
  <div class="list-two">
    <div class="rect">
      <h3>Si tu as, n'hésite pas à ramener</h3>
        <ul>
          <br>
          <li>Molkky</li>
          <li>Boules de petanques</li>
          <li>Balles de ping pong</li>
          <li>Ballon de foot</li>
          <li>Ballon de volley</li>
          <li>Jeux de societes</li>
          <li>Jeux de cartes</li>
          <li>Gobelet rouges (beer pong et autres)</li>
          <li>Enceintes</li>
        </ul>
    </div>
  </div>
</div>
