<%# STYLE : Disposer comme deux listes ? To DO list? %>

<h2>AFFAIRES</h2>

<div class="card-lists">
  <div class="list-one">
    <h3>Voici ce qu'il faudra prévoir comme affaires pour le weekend</h3>
      <ul>
        <li>Bouffe pour 2 repas (quiches, salades, cake sale...)</li>
        <li>Maillot de bain</li>
        <li>Affaire de sports (short, T-shirt, chaussures...)</li>
        <li>Serviette</li>
        <li>Creme solaire</li>
        <li>Lunette de piscine</li>
      </ul>
  </div>

  <div class="list-two">
    <h3>Si tu as, n'hésite pas à ramener</h3>
      <ul>
        <li>Molkky</li>
        <li>Boules de petanques</li>
        <li>Balles de ping pong</li>
        <li>Ballon de foot</li>
        <li>Ballon de volley</li>
        <li>Jeux de societes</li>
        <li>Jeux de cartes</li>
        <li>Gobelet rouges (beer pong et autres)</li>
        <li>Enceintes</li>
      </ul>
  </div>
</div>
