<h1>Hello INDEX IN PAGES</h1>

<h2>index.html.erb</h2>

<ul>
  <a href="/lieu" target="">Lieu</a >
  <a href="/trajet" target="">S'y rendre</a >
  <a href="/programme" target="">Programme</a >
  <a href="/affaires" target="">Affaires</a >
  <a href="#" target="">Trucs</a >
</ul>
