<h1>Hello INDEX IN PAGES</h1>

<h2>index.html</h2>

<ul>
  <a href="/lieu" target="">Lieu</a >
  <a href="/trajet" target="">S'y rendre</a >
  <a href="/programme" target="">Programme</a >
  <a href="/affaires" target="">Affaires</a >
  <a href="#" target="">Trucs</a >
</ul>


<h2>dans index hors fichier</h2>
<ul>
  <a href="app/views/pages/lieu.html.erb" target="">Lieu (lien relative path)</a >
  <a href="/Users/gwen/code/Gwenlgd/ANNIA2/app/views/pages/lieu.html.erb" target="">Lieu (lien path)</a >

  <a href="app/views/pages/trajet.html.erb" target="">S'y rendre (lien relative path)</a >
  <a href="/Users/gwen/code/Gwenlgd/ANNIA2/app/views/pages/trajet.html.erb" target="">S'y rendre (lien path)</a >

  <a href="/programme" target="">Programme</a >
  <a href="/affaires" target="">Affaires</a >
  <a href="#" target="">Trucs</a >
</ul>
