<h2>PROGRAMME</h2>
      <%= link_to "Index", root_path %>

<div class="card-day">
  <div class="day-left">
    <h3>Vendredi 26 mai</h3>
  </div>
  <div class="prog-right">
    <ul>
      <li>17h: Arrivée des invités</li>
      <li>19h: Apéro</li>
      <li>20h: Diner (ce que tu as ramené)</li>
      <li>Après: Soirée à thème</li>
    </ul>
  </div>
</div>

<div class="card-day">
  <div class="prog-left">
    <ul>
      <li>13h: Dejeuner</li>
      <li>14h-19h: Olympiades</li>
      <li>20h: Food Truck Burger</li>
      <li>Après: Soirée à thème</li>
    </ul>
  </div>
  <div class="day-right">
    <h3>Samedi 27 mai</h3>
  </div>
</div>

<div class="card-day">
  <div class="day-left">
    <h3>Dimanche 28 mai</h3>
  </div>
  <div class="prog-right">
    <ul>
      <li>13h: Méchouis</li>
      <li>20h: Pizza</li>
      <li>Après: Soirée chill</li>
    </ul>
  </div>
</div>

<div class="card-day">
  <div class="prog-left">
    <ul>
      <li>11h: Rangement / Ménage</li>
      <li>13h: Dej Reste</li>
      <li>14h: Départ </li>
      <li>Après: Soirée chill</li>
    </ul>
  </div>
  <div class="day-right">
    <h3>Lundi 29 mai</h3>
  </div>
</div>
