<h2>On a besoin de quelques informations</h2>
<p>L'organisation du week end continue et pour que ce soit aussi parfait que possible, nous avons besoin d'informations complémentaires</p>


<h3>Section Food</h3>
      <div class="card-lists-food">
        <div class="list-one">
          <div class="rect">
            <%= link_to new_food_path do %>
              <h3>Le questionnaire Food</h3>
            <% end %>
          </div>
        </div>
      </div>
<h3>Section trajet</h3>
 <div class="cards-page-trajet">
    <div class="card-category">
      <%= link_to new_voiture_path do %>
        <i class="fa-solid fa-car"></i>
        <p>Voiture</p>
      <% end %>
    </div>
    <div class="card-category">
      <%= link_to new_train_path do %>
        <i class="fa-solid fa-train-subway"></i>
        <p>Train</p>
      <% end %>
    </div>
  </div>
