<%# A SUPPRIMER? %>

<h2>TRAJET</h2>

  <div class="venir">
  <h2>Je viens en </h2>
  </div>

  <div class="cards-page-trajet">
    <div class="card-category">
      <%= link_to new_voiture_path do %>
        <i class="fa-solid fa-car"></i>
        <p>Voiture</p>
      <% end %>
    </div>
    <div class="card-category">
      <%= link_to new_voiture_path do %>
        <i class="fa-solid fa-train-subway"></i>
        <p>Train</p>
      <% end %>
    </div>
  </div>

<h2>Covoiturage possible</h2>

<%# Formule où on voit les trajets des gens %>

  <%= link_to trains_path do %>
    <p>Tous les trajets en train (index)</p>
  <% end %>

  <%= link_to voitures_path do %>
    <p>Tous les trajets en voiture (index)</p>
  <% end %>
