<h2>INDEX FOOD</h2>


  <div class="all-cards">
    <% @foods.each do |food|  %>
      <div class="cards-food">
        <ul><%= food.nom %></ul>
        <ul>Ramène : <%= food.bring %></ul>
        <ul>Pour : <%= food.parts %> part(s)</ul>
        <ul>Allergies/Régime : <%= food.contraintes %></ul>
      </div>
    <% end %>
  </div>
