//  JOUR ROND / ARRONDIS OU SQUARE?
// Shadow ok? ou moche?
// Couleurs !!

.card-day {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin: 10px;
  padding: 9px;
}

.day-left {
  height: 200px;
  width: 200px;
  border-radius: 50%;

  margin-right: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-right {
  height: 200px;
  width: 400px;
  margin-left: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prog-left {
  height: 200px;
  width: 800px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  align-items: center;
  justify-content: center;

    ul {
      text-align: center;
    }
}

.prog-right {
  height: 200px;
  width: 800px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  align-items: center;
  justify-content: center;
    ul {
      text-align: center;
    }

}
