.card-lists {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  // margin: 10px;
  // padding: 9px;
}

.list-one {
  margin: 30px;
  width: 500px;
  padding: 50px 0px 5px 21px;
  background-color: $lightgreen;
  border-radius: 5px;
}

.list-two {
  margin: 30px;
  width: 500px;
  padding: 50px 0px 5px 21px;
  background-color: $lightgreen;
  border-radius: 5px;
}

.rect {
  width: 490px;
  background-color: $green;
  padding: 45px;
  margin: -33px;
  border-radius: 5px;
  text-align: center;

}

// CARDS FOODS PAGE
// HOVER
  .card-lists-food {

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin: 10px;
    padding: 9px;

    a {
      justify-content: center;
      align-items: center;
    }
    .list-one, .list-two, .rect {
      height: 200px;

    }

    .rect {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a:hover {
      color: $darkgreen;
    }

    .list-one:hover {
      background-color: $green;

      .rect {
        background-color: $lightgreen;
      }
    }

    .list-two:hover {
      background-color: $green;
      .rect {
        background-color: $lightgreen;
      }
    }
  }
