.form-trajet {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  background-color: $lightgreen;
  padding: 25px;
  border-radius: 5px;
  // CHANGER SHADOW?
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


  // LEFT SIDE
    .form-control {
      width: 600px;
      background-color: $green;
      border: none;
      border-radius: 5px;
      // pour enlever le bord bleu quand sélection de la case
      box-shadow: none;
    }

  }
  // RIGHT SIDE
  .form-select {
    width: 600px;
    background-color: $green;
    border: none;
    border-radius: 5px;
    background-image: none;
  }

  #voiture_heure_retour {
    height: 60px;
  }

  #train_heure_retour {
    height: 60px;
  }

  .form-select:focus {
    box-shadow: none;
    border-bottom: none;
}

  .form-select:active {
    box-shadow: none;
    border: none;
    border-bottom: none;
    border-bottom-color: $green;
  }

  .col-one {
    margin: 0px 20px 0px 0px;
  }
  .col-two {
    margin: 0px 0px 0px 20px;
    border-left: 2px;
    border-color: red;
  }


// CENTRER LE BOUTON
  .btn-submit-form {
    color: $black;
    background-color: $lightgreen;
    align-self: center;
    margin-top: 20px;
    width: max-content;
    border-radius: 5px;

  }

  .btn-submit-form:hover {
    color: $white;
    background-color: $green;
    align-self: center;
    margin-top: 20px;
    width: max-content;
  }
